 .promo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faf5f5;
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
} 

.promo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.promo h1 {
    font-size: 2rem;
    color: var(--variable-color2, rgb(182, 179, 179));
    font-family: montserrat, sans-serif;
    font-weight: 900;
    padding: 0 20px;
}

.promo h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--variable-color3, rgb(182, 179, 179));
    font-family: montserrat, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 20px;

}

.promo p {
    font-size: 1.2rem;
    color: var(--variable-color2, rgb(59, 59, 58));
    text-align: center;
    margin-bottom: 10px;
    font-family: montserrat, sans-serif;
    padding: 0 20px;

}


button {
    display: inline-block;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 10px 0;
    width: 200px;
    font-size: 1.2rem;
    background-color: #af4444;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #faf5f5;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

button:focus {
    outline: none;
    text-decoration: none;
}

button:hover {
    transform: translate(0, -2px);
    text-decoration: none;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(128, 125, 125, 0.5);
    opacity: 0.5;
    mix-blend-mode: overlay;
}

/* PROMO NIDU */

 .promo1 {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faf5f5;
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
} 

.promo1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 0 10%;
}

.promo1 h1 {
    font-size: 2rem;
    color: var(--variable-color2, rgb(182, 179, 179));
    font-family: montserrat, sans-serif;
    font-weight: 900;
    padding: 10px 10px;
}

.promo1 h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--variable-color12, rgb(182, 179, 179));
    font-family: montserrat, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 20px;
    }

.promo1 p {
    font-size: 1.2rem;
    color: var(--variable-color2, rgb(59, 59, 58));
    text-align: center;
    margin-bottom: 10px;
    font-family: montserrat, sans-serif;
    padding: 10px 10px;
}


button {
    display: inline-block;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 10px 0;
    width: 200px;
    font-size: 1.2rem;
    background-color: #af4444;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #faf5f5;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

button:focus {
    outline: none;
    text-decoration: none;
}

button:hover {
    transform: translate(0, -2px);
    text-decoration: none;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(128, 125, 125, 0.5);
    opacity: 0.5;
    mix-blend-mode: overlay;
}

